/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom style */

/* Border-box  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 48px;
  background-color: rgb(95, 89, 89);
  color: whitesmoke;
  padding: 12px;
}

.primary_section {
  max-width: 80%;
  margin: 0 auto;
  padding: 16px;
  background-color: #f1deb7;
}

.form {
  max-width: 40%;
  padding: 32px;
  margin: 0 auto;
  border: 3px solid rgb(102, 85, 234);
}
.form input {
  display: block;
  padding: 8px;
  width: 100%;
  margin: 12px 0;
}
.form input[type="submit"] {
  background-color: rgb(95, 89, 89);
  border: none;
  color: whitesmoke;
}

.card_container {
  margin: 32px;
  display: flex;
  flex-wrap: wrap;
}
.cards {
  width: 30%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #ee6c52;
}

.cards input {
  display: block;
  padding: 8px;
  width: 100%;
  height: 32px;
  margin: 6px 0;
  font-size: 16px;
  text-decoration: underline;
  border: none;
  outline: none;
  background-color: #ee6c52;
}
.cards .title {
  text-decoration: none;
  font-size: 20px;
  order: 10;
}
.cards input:hover {
  outline: 1px black solid;
  background-color: aliceblue;
}
